.spect-about__time {
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    margin: 0;
    padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .spect-about__time {
        letter-spacing: -0.01em;
        padding-left: 1px;
    }
}