.spect-about__materials {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    justify-content: space-between;
    background-color: #B7C09D;
    width: 240px;
    height: 300px;
    grid-column: 2;
    margin-bottom: 17px;
}

@media screen and (max-width: 900px) {
    .spect-about__materials {
        margin-top: 8px;
        margin-bottom: 0px;
        margin-left: 85px;
        grid-column: 1;
    }
}