.button_type_support {

    /* max-width: 164px; */

    /* border-left: 1px solid #242424; */

    background-color: #ECEBE8;

    text-transform: uppercase;

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #242424;

    justify-content: center;
    
}