.spect-about__title {
    font-family: 'neueMachinaRegular', 'Arial', sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-top: 24px;
    padding-left: 24px;
}

@media screen and (max-width: 900px) {
    .spect-about__title {
        padding-top: 16px;
        padding-left: 16px;
    }
}