.partners__label_icon-prohorov {
    margin-right: 31px;
    width: 91px;
}
@media screen and (max-width: 900px) {
    .partners__label_icon-prohorov {
        margin-right: 0;
        margin-bottom: 18px;
        width: 110px;
    }
}