.feedback {
    padding: 116px 0 64px;
    box-sizing: border-box;
    max-width:  1320px;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .feedback {
        padding: 72px 0 0;
    }
}