.footer__bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 900px) {
    .footer__bottom-info {
        margin-left: 27px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}