.header__list-el {
    font-family: 'formularLight', sans-serif;
    margin: 0;

    color: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}