.critique-reviews {
    margin-top: 36px;
    display: flex;
    align-items: flex-start;
    width: 718px;
    transition: transform .5s cubic-bezier(0.560, -0.010, 0.070, 1.020);
}

@media screen and (max-width: 830px) {
    .critique-reviews {
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 800px) {
    .critique-reviews {
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        background: white;
    }
}

@media screen and (max-width: 520px) {
    .critique-reviews {
        margin-top: 0;
    }
}