.feedback-review__text {
    font-family: 'formularLight', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: -0.012em;
    margin: 0;
    padding-bottom: 56px;
    
}