.spect-title__name {
    padding-top: 62px;
    margin: 0 0 37px 0;
    font-size: 70px;
    line-height: 70px;
    font-style: normal;
    font-weight: 400;
    max-width: 540px;
    font-family: 'neueMachinaRegular', 'Arial', sans-serif;
}

@media screen and (max-width: 900px) {
    .spect-title__name {
        margin: 0 0 16px 0;
    }
}

@media screen and (max-width: 600px) {
    .spect-title__name {
        letter-spacing: -0.01em;
        padding-top: 21px;
        font-size: 40px;
        line-height: 40px;
    }
}