.footer {
    display: flex;
    width: 100%;
    padding: 42px 92px 54px 32px;
    box-sizing: border-box;
    max-width: 1440px;
}
@media screen and (max-width: 900px) {
    .footer {
        padding: 56px 0 0 0;
        flex-direction: column;
    }
}