.button {

    margin: 0;
    padding: 0;

    border-radius: 0;
    border: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    cursor: pointer;

    position: relative;

}

.button::before{
    transition-timing-function: linear;
    transition-duration: 5s;
    content: '';
    /* position: absolute; Абсолютное позиционирование */
    height: 100%; 
    width: 0;
    background: #FFA600; /* Фон */
}

.button:hover::before {
    
    width: 100%;

}

