.buttons {
    background-image: url('../../../images/arrow-down.svg');
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

.buttons:hover {
    background-image: url('../../../images/arrow-down-w.svg');
    color: #FFF;
    transition: 0.3s linear;
}