.spect-about__action-prompt {
    display: none;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    padding-left: 24px;
    padding-top: 76px;
}

@media screen and (max-width: 900px) {
    .spect-about__action-prompt {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .spect-about__action-prompt {
        letter-spacing: -0.01em;
        padding-top: 71px;
    }
}